{% extends 'base.html.twig' %}

{% block title %}Hello ChapterController!{% endblock %}

{% block body %}
    <h1>Créer un nouveau chapitre</h1>

    {{ form_start(chapterForm) }}
    {{ form_widget(chapterForm) }}
    <button type="submit">Submit</button>
    {{ form_end(chapterForm) }}
{% endblock %}
