{% extends 'base.html.twig' %}

{% block title %}e-learning - Créer un nouveau cours{% endblock %}

{% block body %}
<h1>Créer un nouveau cours</h1>
{{form_start(coursesForm)}}



{{form_end(coursesForm)}}
{% endblock %}